.codeblock-dash {
  min-height: calc(100vh - 150px);
}
.cd-title {
  font-family: var(--outfit);
}
.code-editor-block {
  position: relative;
  margin-bottom: 25px;
}
.overlay-edit-code {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay-codeblock {
  background-color: var(--light-blue);
}
.overlay-link {
  background-color: var(--dark-blue);
  opacity: 1;
}
.overlay-edit-code:hover {
  transform: scale(1.1);
  opacity: 1;
  border-radius: 5px;
  z-index: 5;
  cursor: pointer;
}
.cd-add {
  width: 100%;
  height: 200px;
  background-color: var(--dark-blue);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cd-plus-img {
  width: 50px;
  margin-top: 5px;
}

.cd-btn-edit,
.cd-btn-delete {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
  padding: 6px 9px;
  border-radius: 5px;
  border: 1px solid rgb(147, 144, 144);
}
.cd-btn-delete:hover {
  background-color: red;
}
.cd-btn-edit:hover {
  background-color: var(--gold);
}

.cd-link {
  background-image: linear-gradient(
    to right,
    var(--gold),
    var(--gold) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.cd-link:before {
  content: "";
  background: var(--gold);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.cd-link:hover {
  background-position: 0;
}
.cd-link:hover::before {
  width: 100%;
}
