/* Code Editor Window */
div.editor-window {
  height: 75vh;
}

/* Output Window Styles */
.output-box {
  width: 100%;
  background-color: #000000;
  color: #00ff00;
  border-radius: 25px;
  min-height: 125px;
  text-align: left;
  padding: 5px;
  font-size: 1.2rem;
}

/* OffCanvas Styles */
.icon-image {
  width: 35px;
}
.theme-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.offcanvas-styles {
  font-family: var(--outfit);
}

/* Landing Styles */
.landing-title {
  font-family: var(--outfit);
}
.theme-dd p,
.language-dd p,
.landing-question p {
  font-size: 16px;
  font-family: var(--roboto);
}
.landing-question div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Lanuages DropDown */
.drop-styles {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 528px) {
  .theme-dd {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  div.editor-window {
    height: 100vh;
  }
  .output-box {
    min-height: 300px;
  }
  .theme-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 66.2%;
  }
  .landing-question {
    width: 60%;
  }
}
