.footer-container {
  height: 100px;
  background-color: var(--dark-blue);
  border-top: 5px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rights {
  font-family: var(--outfit);
  font-size: 1.1em;
  color: var(--white);
  display: block;
}
.footer-link {
  font-family: var(--outfit);
  font-size: 1.1em;
  color: var(--white);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--gold);
  cursor: pointer;
}
.footer-links a {
  display: block;
}
.footer-rights {
  display: flex;
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .footer-container {
    padding-top: 7px;
    display: flex;
    flex-direction: column-reverse;
    height: 125px;
  }
}
